<h1>Day moviener</h1>

<ul>
  {{#each movies}}
  <li>
    <p>
      {{this.id}}. {{this.movie}}

      <button data-movieid="{{this.id}}" class="delmovie">Delete movie!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a movie</h2>
<form id="createmovie" class="button-size">
  <textarea type="text" name="movie"></textarea>
  <button type="submit">Save movie!</button>
</form>

<h2>Update a movie</h2>
<form id="updatemovie" class="button-size">
  <select name="id">
    {{#each movies}}
    <option value="{{this.id}}">{{this.movie}}</option>
    {{/each}}
  </select>
  <textarea type="text" name="movie" placeholder="movie"></textarea>
  <button type="submit">Update movie!</button>
</form>

<script type="text/javascript">
  $(".delmovie").on("click", function (event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-movieid")
    var id = $(this).data("movieid");

    // Send the DELETE request.
    $.ajax("/api/movies/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createmovie").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=movie] will find an element with a "name" attribute equal to the string "movie"
    var newMovie = {
      movie: $("#createmovie [name=movie]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/movies", {
      type: "POST",
      data: newMovie
    }).then(
      function () {
        console.log("created new movie");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updatemovie").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var updatedmovie = {
      movie: $("#updatemovie [name=movie]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/movies/" + id, {
      type: "PUT",
      data: updatedmovie
    }).then(
      function () {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>